/* style of the pages */
@import url('https://fonts.googleapis.com/css?family=Cairo|Galada|Roboto');

p {
    font-size: 1em;
    line-height: 1.5em;
}
figcaption {
    font-weight: normal;
    font-size: 0.75em;
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    color: #777;

}
.logo h1 {
    font-family: 'Clicker script',cursive;
   text-shadow: 0 2px 3px #001;}
.logo h2{
    font-family: cursive;
    text-shadow: 0 2px 3px #001;
}
#details a:link, #details a:visited{
 text-decoration: none;
}
#details a:hover{

    text-shadow: 0 2px 3px dimgrey;
   color: rgb(10, 10, 43);
}
#details a:active{
    color: rgb(38, 63, 38);
}