/* style of the pages */
@import url('https://fonts.googleapis.com/css?family=Cairo|Galada|Roboto');

p {
    font-size: 1em;
    line-height: 1.5em;
}
figcaption {
    font-weight: normal;
    font-size: 0.75em;
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    color: #777;

}
header{
    left: 0;
    top: 0;
    width: 100%;
}
.logo h1 {
    font-family: 'Clicker script',cursive;
   text-shadow: 0 2px 3px #001;}
.logo h2{
    font-family: cursive;
    text-shadow: 0 2px 3px #001;
}
#details a:link, #details a:visited{
 text-decoration: none;
}
#details a:hover{

    text-shadow: 0 2px 3px dimgrey;
   color: rgb(10, 10, 43);
}
#details a:active{
    color: rgb(38, 63, 38);
}
.wrapper {
margin: 0 auto;
background-color: azure;
width: 950px;
}
.col-1{
 width: 32%;
 background-color: #eee;
 float: left;
}
.col-2{
width: 66%;
float: left;
background-color: #eee;
}
.col-3{
background-color: #eee;
}
[class*="col-"]{
    margin-left: 2%;
}
.first {
    margin-left: 0;
}
.clearfix::after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0px;
}
img ,video,audio{
    max-width: 100%;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section{
    padding: 20px;
    margin-bottom: 20px;
}
#social{
    position: fixed;
    top: 200px;
    right: 20px;
    width: 40px;
    z-index: 1;
}
#social{
    display: block;
    width: 40px;
    height: 40px;
}